html
{
font-family : Georgia, "Times New Roman", serif;
margin: auto;
}

body
{
margin:0;
padding:0;
}


nav
{
text-align : center;
background-color: #403e3f;
padding: 10px;
}

ul, li
{
list-style-type: none;
display: inline;
}

a
{
color: #ffffff;
text-decoration: none;
font-variant: small-caps;
padding:10px;

}

a:hover 
{
color: #ffffff;
background: #fdaf17;
transition: background 1s;
padding:10px;
}


.select
{
font-variant: small-caps;
display:inline;
color: #ffffff;
background: #fdaf17;
padding:10px;
}

.content
{
padding : 10px 100px;
}

section
{
text-align: justify;
text-justify: inter-word;
}




