/*GENERAL*/

html 
{
height: 100%;
margin: 0;
padding: 0;
}

body
{
background-color: #f0f0f0;
font-family: "Lucida Sans Unicode", Georgia, "Times New Roman", Serif;
font-size: 11pt;
height: 100%;
margin: 0;
padding: 0;
text-align: justify;
}

ul li 
{
list-style: none;
}

blockquote
{
border-left: solid 4px #dddddd;
padding-left: 10px;
}

h1
{
font-size: 12pt;
}

a
{
color: #000000;
text-decoration: underline;
}

h1 a
{
text-decoration: none;
}

a:hover
{
color: #e75111;
}

#wrapper 
{
min-height: 100%;
position: relative;

}
	
/*HEADER*/

header
{
background-color: #ffffff;
border-bottom: solid 4px #e75111;
font-variant: small-caps;
height: 35px;
padding-bottom: 5px;
}

#titre
{
background-color: #ffffff;
height: 35px;
margin-left: 50px;
padding-bottom: 5px;
position: absolute;
width: 350px;
}

nav
{
background-color: #ffffff;
border-bottom: solid 4px #e75111;
height: 35px;
left: 400px;
padding-bottom: 5px;
position: absolute;
width: 500px;
}

nav li
{
display: inline-block;
margin-left: 5px;
}

nav a 
{
border-radius: 10px 10px 0 0;
padding: 0px 10px 5px 5px;
text-decoration: none;
}

nav a:hover
{
background-color: #e75111;
color: #ffffff;
transition: 0.25s;
}

.selected a
{
background-color: #e75111;
border-radius: 10px 10px 0 0;
color: #ffffff;
padding-bottom: 5px;
}

.iconep
{
height: 11pt;
padding-right: 10px;
}

.iconem
{
height: 11pt;
padding-right: 1px;
}

/*SECTION*/

.content
{
display: block;
margin: 55px 75px 0px 75px;
min-height: 100%;
padding-bottom: 50px;
}

article 
{
background-color:#ffffff;
border-left: solid 4px #e75111;
padding: 20px;
margin: 50px;
}

/*RECHERCHE*/
aside 
{
background-color: #ffffff;
border-top: solid 4px #e75111;
display: inline-block;
margin: 100px 0px 0px 50px;
padding: 15px 20px;
position: absolute;
top: 0px;
width: 200px;
}

#space
{
margin-bottom: 100px;
}

.projet
{
border-left: solid 4px #d0001f;
margin: 50px 75px -35px 350px;
padding: 5px 5px 5px 15px;
border-left: solid 4px #cccccc;
}

.site
{
border-left: solid 4px #0066c6;
}

.poster
{
border-left: solid 4px #d0001f;
}

.autre
{
border-left: solid 4px #ffb539;
}

.rapport
{
border-left: solid 4px #53b539;
}

.keyword
{
border: none;
border-bottom: solid 1px #e75111;
color: #e75111;
display: inline;
height: 40px;
outline: none;
width: 100%;
}

.search
{
background-color: #e75111;
border: none;
color: #ffffff;
display: inline;
margin: 5px 0px 25px 0px;
padding: 10px;
outline: none;
width: 100%;
}

.b
{
background-color : #eeeeee;
font-weight: bold;
font-variant: small-caps;
padding: 0px 5px 1px 5px;
margin-left: 10px;
}

select
{
height: 20px;
width: 200px;
}

.iconer
{
height: 11pt;
margin: 0px 10px 0px 0px;
}

/* A PROPOS */

.ucbl
{
display: inline-block;
float: right;
margin-right: 100px;
width: 200px;
}

/* CONNEXION */

#connexion
{
background-color: #ffffff;
border-top: solid 4px #e75111;
margin: 25px 50px;
margin-left: auto;
margin-right: auto;
padding: 25px;
position: relative;
width: 400px;
text-align: center;
}

.id, .password, .submit
{
border: none;
color: #e75111;
display: inline;
height: 50px;
padding: 5px 0px;
outline: none;
width: 100%;
}

.id
{
border-bottom: solid 1px #e75111;
}

.submit
{
background: #e75111;
color: #ffffff;
margin-bottom: 5px;
}

#connexion form a 
{
font-size: 8pt;
padding: 0px 5px;
}

/* FOOTER */

footer
{
background-color: #ffffff;
border-top: solid 4px #e75111;
bottom: 0px;
font-size: 9pt;
height: 50px;
padding-top: 15px;
position: absolute;
text-align: center;
width: 100%;
}