/*GENERAL*/
body
{
	background-color: #ebebeb; /*gris clair*/
	font-family: "Lucida Sans Unicode", Georgia, "Times New Roman", serif;
	font-size: 11pt;
	text-align: justify;
	margin: 0;
	padding: 0;
}

ul li 
{
	list-style: none;
}

.icone
{
	height: 11px;
	filter: invert(100%);
	-webkit-filter: invert(100%);  
	margin: 0px 5px 0px 0px;
}

blockquote
{
	font-size: 10pt;
	font-variant: small-caps;
	background-color: #57ca37;
	padding: 1px 5px 1px 5px;
	margin: 10px;
	float: right;
	color: #fff;
}

/*HEADER*/
header
{
	background-color: #4e4541; /*marron*/
	border-bottom: solid 4px #57ca37; /*vert*/
	color: white;
	font-variant: small-caps;
	height: 35px;
	padding-bottom: 5px;
}

#entete
{
	background-color: #4e4541; /*marron*/
	height: 35px;
	margin-left: 50px;
	padding-bottom: 5px;
	position: absolute;
	width: 350px;
}

nav
{
	background-color: #4e4541; /*marron*/
	border-bottom: solid 4px #57ca37; /*vert*/
	height: 35px;
	left: 400px;
	padding-bottom: 5px;
	position: absolute;
	width: 700px;
}

nav li
{
	display: inline-block;
	margin-left: 5px;
}

nav a 
{
	border-radius: 3px 3px 0px 0px;
	color: #fff;
	padding: 0px 5px 5px 5px;
	text-decoration: none;
}

nav a:hover
{
	background-color: #57ca37; /*vert*/
	transition: 0.25s;
}

.selected
{
	background-color: #57ca37; /*vert*/
	border-radius: 3px 3px 0px 0px;
	padding: 0px 5px 5px 5px;
}

/*SECTION*/

section 
{
	display: block;
	margin: 0px 100px 0px 100px;
}

article 
{
	background-color:#ffffff;
	border-left: solid 4px #57ca37;
	margin: 25px 50px;
	padding: 25px;
}

.titre
{
	font-size: 17pt;
	margin: 0px;
}

/*Authentification

aside  
{
	float: right;
	width: 250px;
	background-color:#ffffff;
	margin: 30px 50px 50px 50px;
}

form
{
	padding:10px;
}

.id, .password, .connection
{
	color: #e75112;
	height: 25px;
	width: 100%;
	border: none;
	padding: 5px 0px;
	display:block;
	outline: none;
}

.id
{
	border-bottom: solid 1px #e75112;
}

.connection
{
	background: #e75112;
	color: #ffffff;
}

form p,a
{
	text-align: center;
	color: #403e3f;
}

form a 
{
	text-align: center;
	padding: 5px;
	color: #e75112;
	text-decoration: underline;
	font-size: 8pt;
}*/

footer
{
	border-top: solid 4px #57ca37; /*vert*/
	background-color: #4e4541; /*marron*/
	padding: 1px;
	text-align: center;
	font-size: 8pt;
	color: #ffffff;
	position: relative;
}